html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -500px;
   float:left
}
div#container
{
   width: 970px;
   height: 1000px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#Shape8
{
   border-width: 0;
   vertical-align: top;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#Shape9
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text7 p, #wb_Text7 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text8 p, #wb_Text8 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text9 p, #wb_Text9 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text10 p, #wb_Text10 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   position: absolute;
   left: 163px;
   top: 358px;
   width: 1068px;
   height: 73px;
   visibility: hidden;
   z-index: 4;
}
#wb_Text1
{
   position: absolute;
   left: 163px;
   top: 358px;
   width: 1068px;
   height: 73px;
   visibility: hidden;
   z-index: 9;
}
#wb_Shape8
{
   position: absolute;
   left: 208px;
   top: 378px;
   width: 301px;
   height: 39px;
   visibility: hidden;
   z-index: 1;
}
#wb_Shape9
{
   position: absolute;
   left: 208px;
   top: 378px;
   width: 301px;
   height: 34px;
   visibility: hidden;
   z-index: 3;
}
#wb_Text10
{
   position: absolute;
   left: 163px;
   top: 358px;
   width: 1068px;
   height: 73px;
   visibility: hidden;
   z-index: 7;
}
#Shape5
{
   width: 301px;
   height: 980px;
}
#Shape6
{
   width: 301px;
   height: 40px;
}
#wb_Shape5
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 301px;
   height: 980px;
   visibility: hidden;
   z-index: 0;
}
#wb_Shape6
{
   position: absolute;
   left: 208px;
   top: 378px;
   width: 301px;
   height: 40px;
   visibility: hidden;
   z-index: 2;
}
#Shape8
{
   width: 301px;
   height: 39px;
}
#wb_Text8
{
   position: absolute;
   left: 163px;
   top: 358px;
   width: 1068px;
   height: 73px;
   visibility: hidden;
   z-index: 5;
}
#Shape9
{
   width: 301px;
   height: 34px;
}
#wb_Text9
{
   position: absolute;
   left: 163px;
   top: 358px;
   width: 1068px;
   height: 73px;
   visibility: hidden;
   z-index: 6;
}
@media only screen and (max-width: 969px)
{
div#container
{
   width: 301px;
   height: 1356px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape5
{
   left: 0px;
   top: 0px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Shape8
{
   left: 0px;
   top: 159px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Shape6
{
   left: 0px;
   top: 219px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Shape9
{
   left: 0px;
   top: 281px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text7
{
   left: 23px;
   top: 98px;
   width: 254px;
   height: 40px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   font-family: Montserrat;
   font-weight: 400;
   font-size: 29px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 40px;
}
#wb_Text8
{
   left: 0px;
   top: 156px;
   width: 301px;
   height: 42px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   font-family: Montserrat;
   font-weight: 400;
   font-size: 35px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text9
{
   left: 0px;
   top: 273px;
   width: 301px;
   height: 47px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   font-family: Montserrat;
   font-weight: 400;
   font-size: 35px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 48px;
}
#wb_Text10
{
   left: 0px;
   top: 212px;
   width: 301px;
   height: 47px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   font-family: Montserrat;
   font-weight: 400;
   font-size: 35px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 48px;
}
#wb_Text1
{
   left: 16px;
   top: 132px;
   width: 268px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   font-family: Montserrat;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 18px;
}
}
